.table.calendar {

  td {
    @include media-breakpoint-down(sm) {
      display: block;
    }
    @include media-breakpoint-up(md) {
      height: 6rem;
      width: 14.2%;

      padding-left: 0;
      padding-top: 0;
    }

    .multi-day-event {
      margin-right: -$table-cell-padding;
      margin-top: 0.2rem;
      height: 1.5rem;
      overflow: hidden;
      position: relative;

      a {
        font-size: 1rem;
        text-overflow: ellipsis;
        position: absolute;
        top: 0;bottom:0;right:0;left:0;
      }

      &.event-last {
        margin-right: 0;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      &.event-0 {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
    }

  }

}

.pick-calendar {
  margin: 0 auto;

  .other {
    color: #CCC;
  }
  .selected {
    background: $primary;
    color: $white;
  }
  .day {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    &:hover {
      background: rgba($primary, 0.5);
    }
  }
  td, th {
    text-align: center;
  }
}