.modal-icon-header {
    text-align: center;

    svg {
        width: 3rem;
    }

    &.success path {
        fill: $success;
    }

    &.question path {
        fill: $info;
    }

    &.warning path {
        fill: $danger;
    }
}