<template>
    <Modal :show="show">
        <div class="modal-header modal-icon-header" :class="props.icon" v-if="props.icon">
            <ExclamationTriangle v-if="props.icon === 'warning'"/>
            <CheckCircle v-if="props.icon === 'success'"/>
            <QuestionCircle v-if="props.icon === 'question'"/>
        </div>
        <div class="modal-header" v-if="props.title">
            <span v-text="props.title"/>
        </div>
        <div class="modal-body">
            <p class="lead" v-text="props.text"/>
            <FormControl
                    v-if="props.input"
                    name="input"
                    :type="props.input"
                    :label="props.inputPlaceholder"
                    :value.sync="props.value"/>
        </div>
        <div class="modal-footer">
            <Spinner v-if="props.loading"/>
            <div class="buttons" v-if="!props.loading">
                <button type="button"
                        v-for="(button, k) in props.buttons"
                        :key="k"
                        v-text="button.text"
                        class="ml-4"
                        :class="button.class"
                        @click="actionButton(button)"/>
            </div>
        </div>
    </Modal>
</template>
<script>
    import Modal from '../components/Modal';
    import Spinner from '../components/Spinner';
    import EventBus from '../components/EventBus';

    import ExclamationTriangle from '@fortawesome/fontawesome-free/svgs/solid/exclamation-triangle.svg';
    import QuestionCircle from '@fortawesome/fontawesome-free/svgs/solid/question-circle.svg';
    import CheckCircle from '@fortawesome/fontawesome-free/svgs/solid/check-circle.svg';

    import FormControl from "../components/FormControl";

    export default {
        components: {
            Modal,
            Spinner,
            FormControl,
            ExclamationTriangle,
            QuestionCircle,
            CheckCircle
        },
        methods: {
            actionButton: function (action) {
                this.props.loading = true;
                if (this.props.value) {
                    action.value = this.props.value;
                }
                EventBus.$emit("alertResult", action);
            }
        },
        data() {
            return {
                show: false,
                props: {},
                defaults: {
                    loading: false,
                    buttons: [
                        {
                            text: this.$t('dialog.ok'),
                            class: 'btn btn-primary',
                            action: 'confirm'
                        }
                    ]
                }
            }
        },
        created() {
            EventBus.$on("alert", (d) => {
                this.show = true;
                this.props = Object.assign({}, this.defaults, d);
            });
            EventBus.$on("alertHide", () => {
                this.show = false;
            });
        }
    }
</script>