<template>
    <div class="autocomplete">
        <v-select
            @search="fetchOptions"
            @search:focus="fetchAllOptions"
            @option:created="newOption"
            @input="setCurrent"
            :value="current"
            :taggable="newable"
            :filterable="false"
            :inputId="id"
            label="name"
            :disabled="disabled"
            :options="items">
            <template v-slot:option="option">
                <slot name="option" :option="option">{{ option.name }}</slot>
                <span v-if="!option.id" class="badge badge-primary">{{ $t("create_new") }}</span>
            </template>
        </v-select>
    </div>
</template>
<script>
    import vSelect from 'vue-select';

    const axios = require('axios');

    export default {
        props: {
            current_name: {type: String},
            current_id: {type: String},
            url: {type:String},
            id: {type:String},
            new: {type: Boolean},
            disabled:{type: Boolean, default: false}
        },
        data: function(){
            let editing = false;
            if(this.current_id == null){
                editing = true; // edit as no value currently
            }

            let current = {
                id: this.current_id,
                name: this.current_name
            };
            if(!this.current_id) {
                current = null;
            }

            return {
                editing: editing,
                loading: false,
                current: current,
                items: [],
                searchTerm: '',
                timeout: null,
                activeId: -1,
                newable: this.new || false
            }
        },
        components: {
            vSelect
        },
        methods: {
            newOption: function(item){
                console.log('new');
                this.$emit('update:current_id', -1);
                this.$emit('update:current_name', item);
            },
            fetchAllOptions: function(){
                this.fetchOptions('', () => {});
            },
            fetchOptions: function(search, loading){
                loading(true);
                if(this.timeout != null){
                    clearTimeout(this.timeout);
                }
                this.timeout = setTimeout(() => {
                    this.search(search, loading);
                }, 400);
            },
            search: function(term, loading){
                axios.get(this.url, {
                    params: {
                        search: term
                    }
                }).then(response => {
                    this.items = response.data['results'] || response.data['data'];
                    loading(false);
                }).catch(() => {
                    loading(false);
                });
            },
            setCurrent: function(item){
                if(item == null){
                    this.current.id = null;
                    this.current.name = null;
                    this.$emit('update:current_id', null);
                } else {
                    this.current = {
                        id: item.id,
                        name: item.name
                    };
                    this.editing = false;
                    this.searchTerm = '';
                    this.$emit('update:current_id', item.id);
                    this.$emit('update:current_name', item.name);
                }
            }
        }
    }
</script>
