<template>
    <div class="date-calendar-picker">
        <div class="row calendar-info">
            <div class="col-2">
                <button type="button" class="btn btn-light" @click="prevMonth">
                    &leftarrow;
                </button>
            </div>
            <div class="col text-center">
                <span v-text="monthName"/> <span v-text="selectedYear"/>
            </div>
            <div class="col-2 text-right">
                <button type="button" class="btn btn-light" @click="nextMonth">
                    &rightarrow;
                </button>
            </div>
        </div>
        <table class="pick-calendar">
            <tr>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
                <th>S</th>
            </tr>
            <tr v-for="(row, key) in rows" :key="key">
                <td class="day"
                    :class="{ 'other': day.other, 'selected': selectionStart <= day.number && day.number <= selectionEnd }"
                    @mousedown.prevent="startSelecting(day)"
                    @mouseup.prevent="endSelecting(day)"
                    @mousemove.prevent="select(day)"
                    :key="day.number"
                    v-for="day in row.days">
                    <span v-text="day.day"/>
                </td>
            </tr>
        </table>
    </div>
</template>
<script>
    import {getRows, padDate} from '../components/DateUtils.js';

    function selectionToDate(input, original) {
        if (!original) original = new Date();
        return new Date(
            input.substring(0, 4),
            input.substring(4, 6),
            input.substring(6, 9),
            original.getHours(),
            original.getMinutes());
    }

    export default {
        props: {
            start: {
                type: Date
            },
            end: {
                type: Date
            },
            singleDay: {
                type: Boolean,
                default: false
            }
        },
        data: function () {
            let startDate = new Date();
            let endDate = new Date();

            if (this.start) {
                startDate = new Date(this.start);
            }
            if (this.end) {
                endDate = new Date(this.end);
            }
            if (this.singleDay && this.start) {
                endDate = new Date(this.start);
            }

            let selectionA = startDate.getFullYear() + padDate(startDate.getMonth()) + padDate(startDate.getDate());
            let selectionB = endDate.getFullYear() + padDate(endDate.getMonth()) + padDate(endDate.getDate());

            return {
                selectedMonth: startDate.getMonth(),
                selectedYear: startDate.getFullYear(),
                selecting: false,
                selectionA: selectionA,
                selectionB: selectionB
            }
        },
        computed: {
            rows: function () {
                return getRows(this.selectedMonth, this.selectedYear, {});
            },
            selectionStart: function () {
                if (this.selectionA > this.selectionB) return this.selectionB;
                return this.selectionA;
            },
            selectionEnd: function () {
                if (this.selectionA > this.selectionB) return this.selectionA;
                return this.selectionB;
            },
            monthName: function () {
                return new Intl.DateTimeFormat('en-US', {month: 'long'}).format(
                    new Date(this.selectedYear, this.selectedMonth, 1));
            }
        },
        methods: {
            prevMonth: function () {
                this.moveMonth(-1);
            },
            nextMonth: function () {
                this.moveMonth(1);
            },
            moveMonth: function (t) {
                let d = new Date(this.selectedYear, this.selectedMonth, 1);
                d.setMonth(d.getMonth() + t);
                this.selectedYear = d.getFullYear();
                this.selectedMonth = d.getMonth();
            },
            startSelecting: function (day) {
                this.selectionA = day.number;
                this.selectionB = day.number;
                if (!this.singleDay) {
                    this.selecting = true;
                } else {
                    this.updateProps();
                }
            },
            endSelecting: function (day) {
                if (!this.selecting) return;

                this.selecting = false;
                this.selectionB = day.number;

                this.updateProps();
            },
            updateProps: function () {
                // Update props
                this.$emit('update:start', selectionToDate(this.selectionStart, this.start));
                this.$emit('update:end', selectionToDate(this.selectionEnd, this.end));
            },
            select: function (day) {
                if (this.selecting) {
                    this.selectionB = day.number;
                }
            }
        }
    }
</script>