<template>
    <div class="date-time-input">

        <div v-show="mode === 'view'" class="row">
            <div class="col" v-text="viewDate">

            </div>
            <div class="col-md-3">
                <button
                        type="button"
                        class="btn btn-info"
                        v-on:click="mode = 'edit'"
                        v-text="$t('edit')">
                </button>
            </div>
        </div>

        <Modal :show="mode === 'edit'">
            <div class="modal-header">
                {{ $t("edit") }}
            </div>
            <div class="modal-body">
                <DateCalendarPicker :start.sync="value" :singleDay="true"/>
                <input :value="timeFrom" @blur="timeFrom = $event.target.value" type="time" class="form-control my-3"/>
                <button type="button" class="btn btn-info" v-on:click="mode = 'view'" v-text="$t('save')"></button>
            </div>
        </Modal>

    </div>
</template>
<script>
    import DateCalendarPicker from "../components/DateCalendarPicker";
    import Modal from '../components/Modal';

    function padDate(d) {
        d = d.toString();
        if (d.length === 1) d = "0" + d;
        return d;
    }

    export default {
        props: ['date'],
        data: function () {
            return {
                mode: 'view',
                value: new Date(this.date)
            };
        },
        mounted: function () {
        },
        computed: {
            viewDate: function () {
                return this.value.toDateString();
            },
            timeFrom: {
                get: function () {
                    return padDate(this.value.getHours()) + ":" + padDate(this.value.getMinutes());
                },
                set: function (t) {
                    let part = t.split(":");
                    let d = new Date(this.value.valueOf());
                    d.setHours(part[0]);
                    d.setMinutes(part[1]);
                    this.value = d;
                }
            }
        },
        components: {
            DateCalendarPicker,
            Modal
        },
        watch: {
            value: function () {
                this.$emit('update:date', this.value.toISOString());
            },
        },
    }

</script>