<template>
    <div class="form-group row">
        <label :for="name" class="col-sm-4 col-form-label">
            <span v-text="label"/>
            <span v-if="required" class="text-danger" title="This field is required">*</span>
        </label>
        <div class="col-sm-8">
            <textarea
                class="form-control"
                v-if="type === 'textarea'"
                v-model="val"
                :rows="rows"
                :id="name"/>
            <input
                v-else-if="type !== 'slot'"
                :type="type"
                class="form-control"
                v-model="val"
                :required="required"
                :id="name">
            <slot v-else></slot>
            <small class="form-text text-muted" v-text="help" v-if="help"/>
            <small class="form-text text-danger" v-for="(error, key) in errors" :key="key" v-text="error"/>
        </div>
    </div>
</template>
<script>

    export default {
        props: {
            name: {type: String},
            label: {type: String},
            value: {},
            type: {type: String, default: "text"},
            help: {type: String},
            rows: {type: String, default: "3"},
            errors: {type: Array, default: () => []},
            required: {type: Boolean, default: false}
        },
        components: {},
        data: function () {
            return {
                val: this.value,
            }
        },
        watch: {
            val: {
                deep: true,
                handler: function (n) {
                    this.$emit('update:value', n);
                }
            },
            value: function(){
                this.val = this.value;
            }
        }
    }
</script>
