<template>
    <div class="form">
        <div v-if="loading" class="p-4 text-center">
            <Spinner /> <span v-if="uploadPercentage">{{ uploadPercentage }}%</span>
        </div>
        <div v-if="error" class="alert alert-danger">
            {{ $t('form.error') }}
        </div>
        <form v-show="!loading" v-on:submit="submitForm">
            <slot v-bind:errors="errors"></slot>
        </form>
    </div>
</template>

<script>
    import Spinner from '../components/Spinner';

    const axios = require('axios');

    export default {
        name: "Form",
        components: {
            Spinner
        },
        data: function(){
            return {
                loading: false,
                errors: this.defaultErrors || {},
                error: null,
                uploadPercentage: null
            }
        },
        props: ['url', 'data', 'defaultErrors', 'action', 'method'],
        methods: {
            submitForm: function(e){
                e.preventDefault();
                this.loading = true;

                let data = this.data;
                if(this.method === 'formdata') {
                    data = new FormData();
                    for (const [key, value] of Object.entries(this.data)) {
                        data.append(key, value);
                    }
                }

                let action = 'put';
                if(this.action){
                    action = this.action;
                }

                axios({
                    url: this.url,
                    data: data,
                    onUploadProgress: (e) => {
                        if(e.lengthComputable) {
                            this.uploadProgress = Math.round(e.loaded / e.total);
                        }
                    },
                    method: action
                }).then(response => {
                    this.$emit('success', response);
                    this.loading = false;
                    this.error = null;
                    this.errors = this.defaultErrors || {};
                }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data || true;
                    if(error.response.status === 400){
                        this.errors = Object.assign({}, this.defaultErrors || {}, error.response.data)
                    }
                });
            }
        }
    }
</script>