<template>
  <div class="list">
    <p v-if="data.results.length == 0">
      {{ $t('pagination.empty') }}
    </p>
    <slot v-if="data.results.length > 0" v-bind:results="data.results"></slot>
    <nav aria-label="Navigation" class="text-center">
      <ul class="pagination justify-content-center">
        <li class="page-item" :class="{ disabled: !data.previous }">
          <a class="page-link" v-on:click="changePage(data.previous)" tabindex="-1">{{ $t('pagination.prev') }}</a>
        </li>
        <li class="page-item disabled">
          <span class="page-link">
            {{ $t('pagination.showing', { 'showing': data.results.length, 'count': data.count }) }}
          </span>
        </li>
        <li class="page-item" :class="{ disabled: !data.next }">
          <a class="page-link" v-on:click="changePage(data.next)">{{ $t('pagination.next') }}</a>
        </li>
      </ul>
    </nav>
  </div>
</template>
<script>
export default {
  name: 'ItemList',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  methods: {
    changePage: function(page){
      this.$emit('navigate', page);
    }
  }
};
</script>
