<template>
    <div class="loader">
        <div class="loader" v-if="state === 0">
            <Spinner></Spinner>
        </div>
        <div class="alert alert-danger" v-if="state === 1">
            <strong v-text="$t('technical-error')"/>
            <div v-text="error"></div>
        </div>
        <slot v-if="state === 2" v-bind:data="data" v-bind:ad="ad">
        </slot>
        <LoginRequired v-if="state === 3" v-on:refresh="fetch"/>
    </div>
</template>

<script>
    import Spinner from './Spinner';
    import LoginRequired from './LoginRequired';

    const axios = require('axios');

    export default {
        name: 'Loader',
        props: {
            url: String
        },
        components: {
            Spinner,
            LoginRequired
        },
        data: () => {
            return {
                state: 0,
                data: null,
                error: null,
                ad: null
            }
        },
        methods: {
            fetch: function () {
                this.state = 0;
                this.$nextTick(function () {
                    axios.get(this.url).then(response => {
                        let ad = response.headers['X-S-Content'];
                        if (ad) {
                            this.ad = JSON.parse(ad);
                        }

                        this.state = 2;
                        this.data = response.data;
                        this.$emit('data', response.data);

                        this.$nextTick(function () {
                            this.$emit('load');
                        });
                    }).catch(response => {
                        this.state = 1;
                        if (response.status === 403) {
                            this.state = 3;
                        }
                        this.error = response.status;
                    })
                });
            }
        },
        watch: {
            url: function () {
                this.fetch();
            }
        },
        mounted: function () {
            this.fetch();
        }
    }
</script>
