<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" v-text="$t('login.required')"></h5>
            <p class="card-text" v-if="hasLogin" v-text="$t('login.more-permissions')"></p>
            <p class="card-text" v-if="!hasLogin" v-text="$t('login.needed')">

            </p>
            <router-link to="login" class="btn btn-primary" v-text="$t('login.action')"></router-link>
        </div>
    </div>
</template>
<script>
    import EventBus from './EventBus';

    export default {
        name: 'LoginRequired',
        computed: {
            hasLogin: function () {
                return !!EventBus.user['id'];
            }
        },
    }
</script>