<template>
    <div class="t-modal" v-if="show">
        <div class="modal-backdrop fade show"></div>
        <div class="modal fade show" style="display:block" tabindex="-1" role="dialog">
            <div class="modal-dialog" :class="cls" role="document">
                <div class="modal-content">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Modal",
        props: ['show', 'cls'],
        methods: {
            bodyClass: function () {
                if (this.show) {
                    document.body.classList.add('modal-open');
                } else if (document.getElementsByClassName("modal-backdrop").length === 0) {
                    document.body.classList.remove('modal-open');
                }
            }
        },
        watch: {
            show: function () {
                this.$nextTick(this.bodyClass);
            }
        },
        mounted: function () {
            this.bodyClass();
        }
    }
</script>